.ap-ad-expense-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    box-sizing: border-box;
}
.ap-ad-expense-card{
    height: 170px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px 20px 0 20px;
}
.--category{
    text-align: center;
    margin-bottom: 5px;
}
.--sub-amount-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 40px;
}
.--amount{
    justify-self: end;
}
.--status{
    height: 20px;
}
.--createdAt{
    height: 20px;
}
.--createdBy{
    height: 20px;
    margin-top: 20px;
}
