.ap-ap-subheader{
    display: grid;
    grid-template-columns: 15rem 1fr;
    background-color: #fff;
}
.ap-ap-subheader--my-portal{
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: center;
    padding: 15px 0 5px 0;
    font-size: 1.8em;
    background-color: #202530;
    color: #fff;
} 

.ap-ap-subheader--my-status{
}