.ap-ad-admin-portal{
    @include mobileL {
        display: block;
    }

    @include mobile {
        display: block;
    }
}

.ap-ap-dashboard {
    a {
        padding-left: 16px;
        padding-top: 15px;
        padding-bottom: 15px;

        width: 98%;
        box-sizing: border-box;

        color: #fff;
        display: block;
    }
}

.--container-dasboard{
    position: absolute;
    width: 15rem;
    left: -250px
}

.--container-dasboard-active{
    position: absolute;
    width: 15rem;
    animation: slide .2s linear;

    @keyframes slide {
        0% {
            left: -300px;
        }
        50% {
            left: -150;
        }
        100%{
            left: 0;
        }
    }
}

.ap-ap-dashboardsidenav{
    height: 100%;
    background-color: #2e3547;
    margin-bottom: 10px;

    @include mobileL {
        display: block;
    }

    @include mobile {
        display: block;
    }
}

.ap-ap-dashboardsidenav a:hover{
    margin-left: 4px;
    margin-right: 4px;
    border-left: 6px solid;
    border-top: 2px solid #202530;
    border-bottom: 2px solid #202530;
    padding-left: 6px;
    background-color: #202530;
    padding-top: 13px;
    padding-bottom: 13px;
}
// .ap-ap-dashboardsidenav li{
//     padding-left: 16px;
//     padding-top: 15px;
//     padding-bottom: 15px;
// }

.ap-ap-dashboardsidenav img{
    padding-right: 10px;
    height: 1.3rem;
    vertical-align: middle;
}